<meta name="viewport" content="width=device-width, initial-scale=1">

<img src="../assets/images/logo_dark.png" alt="...">

<hr>

 <ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/empresa">Empresa</a></li>
  <div class="dropdown">
    <button class="dropbtn">> Produtos</button>
    <div class="dropdown-content">
    <a href="/portaAnti">Porta Anti-Ruido</a>
    <a href="/janelaAnti">Janela Anti-Ruido</a>  
    <a href="/persiana">Persianas</a>  
    
  </div>
</div>
  <li><a href="/contato">Contato</a></li>
</ul> 

<router-outlet></router-outlet>
